<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Git push</title>
</head>

<body>
  <form action="/getdetails" method="POST">
    <h1>{{title}}</h1>
    <div class="inputfield">
      <input type="text" id="path" name="path">
      <label for="path"> git repo path</label><br>
    </div>

    <div class="inputfield submit">
      <br>
      <input type="submit" value="submit" class="btn">
    </div>

</body>

</html>
</html>


